.bookmark {
  .custom-card {
    border-radius: 2rem;
    background: #fff;
    padding: 2.5rem;
  }
  .profile-list-card {
    border-radius: 2rem;
    background: #fff;
    padding: 2.5rem 0;
    .header {
      padding: 0 2rem;
      margin-bottom: 1rem;
    }
  }
  .profile-list {
    width: 20%;
    border-radius: 2rem;
    i {
      font-size: 1.5rem;
      color: #808080;
      &:hover {
        color: #2e2e2e;
      }
    }
    .list {
      padding: 1.4rem 2rem;
      &:hover {
        background: #e7ebf8;
        i {
          color: #2e2e2e;
        }
      }
      i {
        font-size: 1.3rem;
      }
      img {
        height: 4rem;
        width: 4rem;
        object-fit: cover;
        background: #dce4ff;
        border-radius: 50%;
      }
      .name {
        h3 {
          font-size: 1.6rem;
          font-weight: 500;
        }
        h5 {
          font-weight: 300;
          color: #a8a8a8;
        }
      }
    }
  }
  .detail-card {
    .icon-top {
      font-size: 2.5rem;
      color: #5e85ff;
      background: #dce4ff;
      border-radius: 50%;
      padding: 1.5rem;
    }
    h4 {
      font-size: 1.3rem;
      margin: 1rem 0;
    }
    h3 {
      font-size: 2.2rem;
      font-weight: 500;
      margin: 1rem 0;
    }
    .bot {
      font-size: 1.1rem;
      i {
        margin-right: 0.5rem;
        color: #f15658;
      }
      .good {
        color: #4ddfb7;
      }
      span {
        color: #8e9296;
      }
    }
  }
  .diagnos-card {
    .icon-top {
      font-size: 2.5rem;
      color: #5e85ff;
      background: #dce4ff;
      border-radius: 50%;
      padding: 1.5rem;
    }
    h2 {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 2rem;
      font-weight: 500;
      margin: 1rem 0;
    }
    h4 {
      font-size: 1.3rem;
      margin: 1rem 0;
      color: #8e9296;
    }
    .bot {
      margin-top: 1.5rem;
      font-size: 1.1rem;
      background: #f6f8ff;
      border-radius: 0.8rem;
      padding: 1.5rem;
      h5 {
        margin: 0;
        color: #606060;
      }
      i {
        color: #8e9296;
      }
    }
  }
  .meds-card {
    .icon-top {
      font-size: 1.5rem;
      color: #5e85ff;
      background: #dce4ff;
      border-radius: 50%;
      padding: 1rem;
    }
    h2 {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.3rem;
      margin: 1rem 0;
      color: #4b4b4b;
    }
    .doclist {
      h4 {
        font-size: 1.3rem;
        margin: 0.5rem 0;
        color: #4b4b4b;
      }
    }
  }
  .symptomp-card {
    h3 {
      font-size: 2.1em;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.6rem;
      margin: 2rem 0 0 0;
      font-weight: 500;
      color: #696969;
    }
    h5 {
      font-size: 1.4rem;
      margin: 1rem 0;
      font-weight: 400;
      color: #8e9296;
    }
  }
  .side-card {
    height: 100%;
  }
}
