.home-page {
  h1 {
    font-size: 5rem;
  }
  h3 {
    line-height: 3.5rem;
    font-size: 2rem;
    font-weight: 400;
    color: #8e9296;
  }
  .hero {
    .text {
      margin-right: 8rem;
      h1 {
        margin-bottom: 3rem;
      }
    }
  }
}
