.sidebar {
  border-top-right-radius: 1.7rem;
  border-bottom-right-radius: 1.7rem;
  width: 5vw;
  padding: 3.6rem;
  height: 100vh;
  background-color: #e6ecff;
  .brand-logo {
    img {
      width: 5.5rem;
    }
  }
  .nav {
    a {
      margin: 2rem 0;
      &:hover {
        img {
          filter: opacity(80%);
        }
      }
    }
    img {
      width: 3rem;
      filter: opacity(40%);
      &:hover {
        fill: #1e5c82;
        cursor: pointer;
      }
    }
    a.nuxt-link-exact-active img {
      filter: opacity(100%);
    }
  }
  .setting {
    img {
      padding: 0.8rem 0;
    }
  }
}
