@import "./profile";
@import "./sidebar";
@import "./book";
@import "./home";

html {
  font-size: 0.521vw;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f6f8fc;
}

.vertical-line {
  border-left: 1px solid #d8d8d8;
  height: 100%;
}
