.profile .custom-card {
  border-radius: 2rem;
  background: #fff;
  padding: 2.5rem;
}

.profile .profile-card {
  border-radius: 2rem;
  background: #fff;
}

.profile .profile-card .main {
  padding: 2.5rem;
  border-radius: 2rem;
  background-color: #5e85ff;
  color: #fff;
}

.profile .profile-card .main .top {
  margin-bottom: 2.8rem;
}

.profile .profile-card .main .top img {
  padding: 1rem;
  height: 6rem;
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  background: #fff;
  border-radius: 1.4rem;
}

.profile .profile-card .main .top .name h3 {
  font-size: 1.9rem;
  font-weight: 500;
}

.profile .profile-card .main .top .name h5 {
  font-weight: 300;
  color: #ededed;
}

.profile .profile-card .main .bott h4 {
  font-size: 1.4rem;
}

.profile .profile-card .main .bott h5 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #ededed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile .profile-card .side {
  padding: 2.5rem;
}

.profile .profile-card .side h4 {
  font-size: 1.4rem;
  color: #555e6d;
}

.profile .profile-card .side h5 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #959ba2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile .detail-card .icon-top {
  font-size: 2.5rem;
  color: #5e85ff;
  background: #dce4ff;
  border-radius: 50%;
  padding: 1.5rem;
}

.profile .detail-card h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.profile .detail-card h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.profile .detail-card .bot {
  font-size: 1.1rem;
}

.profile .detail-card .bot i {
  margin-right: 0.5rem;
  color: #f15658;
}

.profile .detail-card .bot .good {
  color: #4ddfb7;
}

.profile .detail-card .bot span {
  color: #8e9296;
}

.profile .diagnos-card .icon-top {
  font-size: 2.5rem;
  color: #5e85ff;
  background: #dce4ff;
  border-radius: 50%;
  padding: 1.5rem;
}

.profile .diagnos-card h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile .diagnos-card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.profile .diagnos-card h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #8e9296;
}

.profile .diagnos-card .bot {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  background: #f6f8ff;
  border-radius: 0.8rem;
  padding: 1.5rem;
}

.profile .diagnos-card .bot h5 {
  margin: 0;
  color: #606060;
}

.profile .diagnos-card .bot i {
  color: #8e9296;
}

.profile .meds-card .icon-top {
  font-size: 1.5rem;
  color: #5e85ff;
  background: #dce4ff;
  border-radius: 50%;
  padding: 1rem;
}

.profile .meds-card h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile .meds-card h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #4b4b4b;
}

.profile .meds-card .doclist h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  color: #4b4b4b;
}

.profile .side-card {
  height: 100%;
}

.sidebar {
  border-top-right-radius: 1.7rem;
  border-bottom-right-radius: 1.7rem;
  width: 5vw;
  padding: 3.6rem;
  height: 100vh;
  background-color: #e6ecff;
}

.sidebar .brand-logo img {
  width: 5.5rem;
}

.sidebar .nav a {
  margin: 2rem 0;
}

.sidebar .nav a:hover img {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.sidebar .nav img {
  width: 3rem;
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}

.sidebar .nav img:hover {
  fill: #1e5c82;
  cursor: pointer;
}

.sidebar .nav a.nuxt-link-exact-active img {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.sidebar .setting img {
  padding: 0.8rem 0;
}

.bookmark .custom-card {
  border-radius: 2rem;
  background: #fff;
  padding: 2.5rem;
}

.bookmark .profile-list-card {
  border-radius: 2rem;
  background: #fff;
  padding: 2.5rem 0;
}

.bookmark .profile-list-card .header {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.bookmark .profile-list {
  width: 20%;
  border-radius: 2rem;
}

.bookmark .profile-list i {
  font-size: 1.5rem;
  color: #808080;
}

.bookmark .profile-list i:hover {
  color: #2e2e2e;
}

.bookmark .profile-list .list {
  padding: 1.4rem 2rem;
}

.bookmark .profile-list .list:hover {
  background: #e7ebf8;
}

.bookmark .profile-list .list:hover i {
  color: #2e2e2e;
}

.bookmark .profile-list .list i {
  font-size: 1.3rem;
}

.bookmark .profile-list .list img {
  height: 4rem;
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  background: #dce4ff;
  border-radius: 50%;
}

.bookmark .profile-list .list .name h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.bookmark .profile-list .list .name h5 {
  font-weight: 300;
  color: #a8a8a8;
}

.bookmark .detail-card .icon-top {
  font-size: 2.5rem;
  color: #5e85ff;
  background: #dce4ff;
  border-radius: 50%;
  padding: 1.5rem;
}

.bookmark .detail-card h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.bookmark .detail-card h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.bookmark .detail-card .bot {
  font-size: 1.1rem;
}

.bookmark .detail-card .bot i {
  margin-right: 0.5rem;
  color: #f15658;
}

.bookmark .detail-card .bot .good {
  color: #4ddfb7;
}

.bookmark .detail-card .bot span {
  color: #8e9296;
}

.bookmark .diagnos-card .icon-top {
  font-size: 2.5rem;
  color: #5e85ff;
  background: #dce4ff;
  border-radius: 50%;
  padding: 1.5rem;
}

.bookmark .diagnos-card h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.bookmark .diagnos-card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.bookmark .diagnos-card h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #8e9296;
}

.bookmark .diagnos-card .bot {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  background: #f6f8ff;
  border-radius: 0.8rem;
  padding: 1.5rem;
}

.bookmark .diagnos-card .bot h5 {
  margin: 0;
  color: #606060;
}

.bookmark .diagnos-card .bot i {
  color: #8e9296;
}

.bookmark .meds-card .icon-top {
  font-size: 1.5rem;
  color: #5e85ff;
  background: #dce4ff;
  border-radius: 50%;
  padding: 1rem;
}

.bookmark .meds-card h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.bookmark .meds-card h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #4b4b4b;
}

.bookmark .meds-card .doclist h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  color: #4b4b4b;
}

.bookmark .symptomp-card h3 {
  font-size: 2.1em;
  font-weight: 500;
  margin-bottom: 1rem;
}

.bookmark .symptomp-card h4 {
  font-size: 1.6rem;
  margin: 2rem 0 0 0;
  font-weight: 500;
  color: #696969;
}

.bookmark .symptomp-card h5 {
  font-size: 1.4rem;
  margin: 1rem 0;
  font-weight: 400;
  color: #8e9296;
}

.bookmark .side-card {
  height: 100%;
}

.home-page .custom-card {
  border-radius: 2rem;
  background: #fff;
  padding: 2.5rem;
}

.home-page h1 {
  font-size: 5rem;
}

.home-page h3 {
  line-height: 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #8e9296;
}

.home-page .hero .text {
  margin-right: 8rem;
}

.home-page .hero .text h1 {
  margin-bottom: 3rem;
}

.home-page .queue {
  margin-top: 4rem;
}

.home-page .queue-card {
  background: #5e85ff;
  color: #fff;
}

.home-page .queue-card i {
  font-size: 1.5rem;
}

.home-page .queue-card h1 {
  font-size: 8rem;
}

.home-page .queue-card h4 {
  color: #ededed;
}

.home-page .cta h1 {
  font-size: 5rem;
}

.home-page .cta button {
  font-size: 2rem;
  border-radius: 1rem;
  padding: 0.8rem 6rem;
}

.home-page .cta .btn-primary {
  background-color: #5e85ff;
  border-color: #5e85ff;
}

.home-page .cta .btn-primary:hover {
  background-color: #446ce6;
}

.home-page .cta .modal-content {
  border-radius: 0.8rem;
  border: 0;
}

.home-page .cta .modal-content * {
  font-size: 1.6rem;
}

.home-page .cta .modal-content button {
  font-size: 1.8rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
}

.home-page .cta .modal-content .btn-primary {
  background-color: #5e85ff;
  border-color: #5e85ff;
}

.home-page .cta .modal-content .btn-primary:hover {
  background-color: #446ce6;
}

.home-page .cta .modal-content h5 {
  font-size: 1.9rem;
}

.home-page .order-card {
  background: #eaeaea;
  border: 1px solid #c8c8c8;
}

.home-page .order-card i {
  font-size: 1.5rem;
}

.home-page .order-card h1 {
  font-size: 8rem;
}

.home-page .order-card h4 {
  color: #000000;
}

.home-page .order-card button {
  font-size: 1.8rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
}

.home-page .order-card .btn-primary {
  background-color: #5e85ff;
  border-color: #5e85ff;
}

.home-page .order-card .btn-primary:hover {
  background-color: #446ce6;
}

.home-page .order-card .modal-content {
  border-radius: 0.8rem;
  border: 0;
}

.home-page .order-card .modal-content * {
  font-size: 1.6rem;
}

.home-page .order-card .modal-content button {
  font-size: 1.8rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
}

.home-page .order-card .modal-content .btn-primary {
  background-color: #5e85ff;
  border-color: #5e85ff;
}

.home-page .order-card .modal-content .btn-primary:hover {
  background-color: #446ce6;
}

.home-page .order-card .modal-content h5 {
  font-size: 1.9rem;
}

html {
  font-size: 0.521vw;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f6f8fc;
}

.vertical-line {
  border-left: 1px solid #d8d8d8;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */